.list-item {
    position: relative;
    cursor: pointer;
}

/* .list-item a:hover {
    color: blue;
} */

.list-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: red;
    bottom: -5px;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
}

.list-item:hover::after {
    width: 20%;
    left: 40%;

}